logs/
saves/
resourcepacks/
.ReAuth.cfg
crash-reports
astralsorcery
logs
crafttweaker.log
config/BiomeTweaker/output
screenshots
config.json
OpenComputersMod-1.7.5.192-lua53-native.64.so
config/jei/
thaumicjei_itemstack_aspects.json
